<!DOCTYPE html>
<html lang="en" class=" is-copy-enabled">
	<head>
		<meta charset='utf-8'>
		<!--Bootstrap settings/import-->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!--Vue.js import-->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!--Chart.js import-->
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<!--Axios import-->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!--Twitter import-->
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

		<script async src="sentiment-script.js"></script>
	</head>
	<!--CSS Styling-->
	<style>
		.main{
			text-align: center;
		}

		.border-box{
			border: 1px solid rgb(0, 0, 0);
			border-radius: 3%;

		}

		.number-text{
			width: 40px;
			height: 22px
		}

		.comment{
			color: rgb(68, 68, 68);
			font-style: italic
		}

		.margin-buffer{
			margin-top:20px;
			margin-bottom: 20px;
		}
	</style>
	<body>
		<div class="container main" id="app">
			<div class="row">
				<div class="col-sm-12">
					<h1>Sentiment Analysis</h1>
					<h2>BA-Projekt base.camp</h2>
					<div class="margin-buffer">
							<span class="comment">//These counters are just for showing purposes. They will be removed, after connection to real data is established</span>
							<br>
							Anzahl offensive Tweets:
							<input v-model.number="offensive" type="number" class="number-text" @input='handleInput()'>
							<br>
							Anzahl non-offensive Tweets:
							<input v-model.number="nonOffensive" type="number" class="number-text" @input='handleInput()'>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="border-box">
						<p>
							<span class="comment">//Graph update based on selected time not implemented yet</span>
							<br>
							Zeitraum:
							<select v-model="selectBarTime" @change='updateBarChartTime()'>
									<option disabled value="">Suche einen Zeitraum aus</option>
									<option v-for="time in times" v-bind:value="time.value">
											{{ time.text }}
									</option>
							</select>
						</p>
						<canvas id="barChart"></canvas>
						</div>
				</div>
				<div class="col-sm-6">
					<div class="border-box">
						<p>
							<span class="comment">//Graph update based on selected time not implemented yet</span>
							<br>
							Zeitraum:
							<select v-model="selectLineTime" @change='updateLineChartTime()'>
									<option disabled value="">Suche einen Zeitraum aus</option>
									<option v-for="time in times" v-bind:value="time.value">
											{{ time.text }}
									</option>
							</select>	
						</p>
						<canvas id="lineChart"></canvas>
					</div>
				</div>
			</div>
			<div class="row margin-buffer">
				<div class="col-sm-6">
					<div class="border-box">
							<p>Zufälliger als offensive eingestufter Tweet:</p>		
							<div id=offTweet></div>
					</div>
				</div>
				<div class="col-sm-6">
						<div class="border-box">
								<p>Zufälliger als non-offensive eingestufter Tweet:</p>
								<div id=nonOffTweet></div>
						</div>
					</div>
			</div>			
		</div>	
		<!--Bootstrap imports-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>